[Unit]
Description=Ghost systemd service

[Service]
Type=simple
WorkingDirectory=/var/www/ghost
User=ghost
ExecStart=/usr/bin/node current/index.js
Restart=no
Environment="NODE_ENV=production"

[Install]
WantedBy=multi-user.target
